
body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


/* @media only screen and (max-width: 600px) {
   
  }
   */

/* navbar starts */

.navbar{
    position: sticky;
    top: 0;
    z-index: 1000; 
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
  }
 
.nav-image{
    justify-content: center;
    margin-bottom: 30px;
}
  
.bx-menu{
    font-size: 4.2vh;
    padding: 1px;
}

.navbar-toggler{
    color: #7072a7;
    background-color: #38cb89;
}

nav a{
    color: #ababab;
    font-size: 18px;
    padding: 6px;
    font-weight: 550;
}

.landing:hover{
    color: black;
    text-decoration: underline;
}

.about:hover{
    color: black;
    text-decoration: underline;
}

.services:hover{
    color: black;
    text-decoration: underline;
}

.pricing:hover{
    color: black;
    text-decoration: underline;
}

.faqus:hover{
    color: black;
    text-decoration: underline;
    
}

.contact:hover{
    color: black;
    text-decoration: underline;
    
}


.nav-btn{
    height: 60px;
    width: 135px;
    border: 2px solid #5945e6;
    border-radius: 0px 10px;
    text-align: center;
    padding: 3px;
    color: #5945e6;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    margin-right: 40px;

}
.nav-btn:hover{
    color: #ffffff;
    background-color: #5945e6; 
     
}
.bxs-cart{
    font-size: 30px;
    color: #ababab;
    margin-right: 20px;
}
.cart-num{
    font-size: 15px;
    color: white;
    width: 80px;
    bottom: 30px;
    padding: 4px;
    height: 190px;
    border-radius: 80px 80px;
    background-color: #5945e6;
    
}
.bxs-cart:hover{
    color:#5945e6 ;
    font-size: 35px;
}
.bx-search{
    font-size: 20px;
    color: #ababab;
    margin-right: 20px;
}
.bx-search:hover{
    color: #5945e6;
    font-size: 25px;
}







.grid-container{
    padding: 4px;
    font-family: serif;
}

.grid-head{
    font-size: 53px;
    color:  #2e3280;
    padding: 5px;

}
.grid-para{
    color: #ababab;
    font-size: 2.5vh;
    padding: 4px;
}
.grid-btn{
    color: #ffffff;
    background-color: #38cb89;
    width: 250px;
    height: 60px;
    border-radius: 8px 8px;
    padding: 5px;
    border: 2px solid #3ccc8b;
}

.grid-btn:hover{
    background-color: #ffffff;
    color: #3ccc8b;

}


.sticky-bar {
    animation: animate 2.5s ease-in-out infinite;
    opacity: 0;
    transform: translateX(-90px);
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: translateX(-90px);
    }
    50% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(90px);
    }
}


/* 1line heading starts  */


.line-heading{
    text-align: center;
    font-weight: 300;
}

.line-head{
    font-size: 48px;
    color: #2e3280;
    font-family: Poppins;
}


.demo-video{
    font-size: 20px;
    font-weight: bold;
    color: #7e7e7e;
    font-family: Rubik;

}

.demo-video:hover{
    color:#a692e5;
}

.bxl-youtube{
    margin-right: 15px;
    color: red;
    font-size: 20px;
}


/* 1line heading ends */


/* cards starts */


.soft-cards{
    background-color: #f6f5f9;
    border-radius: 15px 15px;
    width: 100%;
}


.card1{
   width: 520px;
   height: 150px;
   background-color: #ffffff;
   border-radius: 8px 8px;
   padding: 12px;
   margin-top: 30px;
   box-shadow: 2px 2px whitesmoke ;
   margin-left: -45px;
 
}

.card1 .img{
    padding: 5px;
    margin-left: -10px;
    
}

.cross-head{
    font-size: 15px;
    color: #333;
    margin-top: -60px;
    
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 150px;
}

.cross-para{
    color: #7e7e7e;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 540;
    letter-spacing: 0em;
    line-height: 1.44;
    text-align: center;
    margin-top: 10px;
    margin-left: 55px;
    padding-left: 12px;
}






.card2{
    margin-left: 15px;
    height: 150px;
    width: 460px;
    background-color: #ffffff;
    border-radius: 8px 8px;
    padding: 12px;
   
    box-shadow: 2px 2px whitesmoke ;
  
 }
 .card2 .img{
     padding: 5px;
     margin-left: -10px;
 }
 
 .highly-head{
     font-size: 15px;
     color: #333;
     margin-top: -60px;
     text-align: center;
     font-family: sans-serif;
     font-weight: bold;    
     margin-left: 100px;
 }
 
 .highly-para{
     color: #7e7e7e;
     font-family: sans-serif;
     font-size: 12px;
     font-weight: 540;
     letter-spacing: 0em;
     line-height: 1.44;
     text-align: center;
     margin-top: 10px;
     margin-left: 35px;
     padding-left: 12px;
 }





 
 
.card3{
    width: 520px;
    height: 150px;
    background-color: #ffffff;
    border-radius: 8px 8px;
    padding: 12px;
    padding-left: 8px;
   
    box-shadow: 2px 2px whitesmoke ;
    margin-left: -45px;
  
 }
 .card3 .img{
    padding: 8px;
    margin-left: -5px;
    
 }
 
 .completely-head{
     font-size: 15px;
     color: #333;
     margin-top: -80px;
     text-align: center;
     font-family: sans-serif;
     font-weight: bold;
     margin-left: 28px;
 }
 
 .completely-para{
     color: #7e7e7e;
     font-family: sans-serif;
     font-size: 12px;
     font-weight: 540;
     letter-spacing: 0em;
     line-height: 1.44;
     text-align: center;
     margin-top: 10px;
     margin-left: 55px;
     padding-left: 12px;
 }


.whats-next{
    color: #6d70a6;
    text-align: center;
    font-size: 24px;
    line-height: 1.17;
    font-family: sans-serif;
    font-weight: bold;
}
.whats-next .btn{
    font-size: 23px;
    color: #38cb89;
    line-height: 1.0;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 10px;
}

.whats-next .btn:hover{
    color: #38cb89 ;
    text-decoration: underline;
}

 /* cards ends */


.heropage{
    background-color: #9c7af2;
    padding: 3px;
    padding-top: 120px;
    border-color: #9c7af2;
    box-shadow: 0 2px 5px rgba(153, 168, 228, 0.2);
    
}

.text{
    text-align: center;
    padding: 2px;
}

.text-head{
    font-size: 45px;
    font-weight: 400;
    color: #fff;
    
}

.text-para{
    max-width: 100%;
    font-size: 16px;
    color: #fff;

}

.heros{
    margin-top: 20px;
    padding: 5px;
}


.hero1{
    padding: 5px;
    color:  #b5b2f4;
    
}

.hero1:hover{
    color: #fff;
}

.fa-bars{
    background-color: #eea479;
    color: #fff;
    height: 65px;
    width: 70px;
    text-align: center;
    font-size: 40px;
    padding: 12px;
    border-radius: 12px 12px;
    

}

.page-head{
    font-size: 30px;
    color: #ada8f3;
    font-weight: 500;
    

}

.page-para{
    font-size: 15px;
    color: #ada8f3;
    font-weight: 500;
}




.hero2{
    padding: 5px;
    color:  #b5b2f4;
    
}

.hero2:hover{
    color: #fff;
}

.fa-rocket{
    background-color: #b6b3f5;
    color: #fff;
    height: 65px;
    width: 70px;
    text-align: center;
    font-size: 40px;
    padding: 12px;
    border-radius: 12px 12px;

}

.newmarket-head{
    font-size: 30px;
    color: #ada8f3;
    font-weight: 500;
    

}

.newmarket-para{
    font-size: 15px;
    color: #ada8f3;
    font-weight: 500;
}




.hero3{
    padding: 5px;
    color:  #b5b2f4;
    
}

.hero3:hover{
    color: #fff;
}

.fa-chart-pie{
    background-color: #b6b3f5;
    color: #fff;
    height: 65px;
    width: 70px;
    text-align: center;
    font-size: 40px;
    padding: 12px;
    border-radius: 12px 12px;

}

.seo-head{
    font-size: 30px;
    color: #ada8f3;
    font-weight: 500;
    

}

.seo-para{
    font-size: 15px;
    color: #ada8f3;
    font-weight: 500;
}





.per-percent{
    padding: 8px;

}
.per-head{
    color: #2e3280;
    font-size: 50px;
    font-weight: 400;
    line-height: 1.34;

}

.ui{
    font-size:20px;
    color: #7577aa;;
    font-weight: 600;

}

.ux{
    color: #1a9cc3;
}

.ui span{
    color: black;
    font-size: 2vh;
    font-family: sans-serif;
    margin-left: 210px;
}


.branding {
    font-size:20px;
    color: #7577aa;;
    font-weight: 600;
}

.brand{
    color: #1a9cc3;
}


.branding span{
    color: black;
    font-size: 2vh;
    font-family: sans-serif;
    margin-left: 150px;
}



.marketing {
    font-size:20px;
    color: #7577aa;;
    font-weight: 600;
}

.market{
    color: #1a9cc3;
}


.marketing span{
    color: black;
    font-size: 2vh;
    font-family: sans-serif;
    margin-left: 210px;
}



.support{
    font-size:20px;
    color: #7577aa;;
    font-weight: 600;
}

.spt{
    color: #1a9cc3;
}


.support span{
    color: black;
    font-size: 2vh;
    font-family: sans-serif;
    margin-left: 200px;
}







.stories{
    text-align: center;
    margin-top: 30px;

}
.story-head{
    color:  #2e3280;
    font-size: 48px;
    font-weight: 400;
}

.story-para{
    color: #9b9b9b;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
}







.success {
    padding: 4px;
    
}

.succ-head2{
    font-size: 30px;
    color:  #6d70a6;
    font-weight: 600;
}

.serve1 {
    margin-left: 20px;
    font-size: 30px;
    color:  #6d70a6;
    font-weight: 600;
}

.succ-head1{
    color: #ee7455;
    font-size: 68px;
    font-family: serif;
}

.succ-para{
    font-size: 20px;
    color: #b6b7d2;
    font-weight: 500;
}









.completed{
    padding: 4px;
    
}

.comp-head2{
    font-size: 30px;
    color:  #6d70a6;
    font-weight: 600;
}

 .serve2 {
    margin-left: 5px;
    font-size: 30px;
    color:  #6d70a6;
    font-weight: 600;
}

.comp-head1{
    color: #ee7455;
    font-size: 68px;
 
    font-family: serif;
}

.comp-para{
    font-size: 20px;
    color: #b6b7d2;
    font-weight: 500;
}






.recruited{
    padding: 4px;
    
}

.rcrt-head2{
    font-size: 30px;
    color:  #6d70a6;
    font-weight: 600;
}

 .serve3 {
    margin-left: 20px;
    font-size: 30px;
    color:  #6d70a6;
    font-weight: 600;
    
}

.rcrt-head1{
    color: #ee7455;
    font-size: 68px;
  
    font-family: serif;
}

.rcrt-para{
    font-size: 20px;
    color: #b6b7d2;
    font-weight: 500;
}






.published{
    padding: 4px;
    
}

.publish-head2{
    font-size: 30px;
    color:  #6d70a6;
    font-weight: 600;
}

.serve4 {
    margin-left: 20px;
    font-size: 30px;
    color:  #6d70a6;
    font-weight: 600;
}

.publish-head1{
    color: #ee7455;
    font-size: 68px;
    font-family: serif;
}

.publish-para{
    font-size: 20px;
    color: #b6b7d2;
    font-weight: 500;
}






.heading{
    text-align: center;
    padding: 4px;
}

.head{
    font-size:48px;
    font-weight: 400;
    color: #2e3280;
}

.para{
    color: #8b8b8c;
    font-size:17px;
    font-family: sans-serif;
    font-weight: 500;
}





.boxes{
    background-color: #f6f5f9;
    padding: 10px;
}

.box1{
    height: 480px;
    width: 200px;
    background-color: #ffffff;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #dce6ed;
    border-radius: 12px 12px;
    margin-left: -20px;
    margin-right: 10px;
    
    
}

.box1:hover{
    
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.box1 .img1{
  
    margin-left: 130px;
  
}

.free{
    color: #333333 ;
    font-size: 35px ;
    line-height: 1.5 ;
    margin-bottom: 19px;
    text-align: center ;
    font-family: sans-serif;
}

.currency1{
    font-size: 18px;
    margin-bottom: -30px;
    margin-right: 50px;
    color: #ababab;
    font-weight: 600;
    

}

.dollar1 {
    color: #333;
    font-size: 45px;
    font-family: serif;
    margin-left: 18px;
}

.dollar1 span{
    color: #7e7e7e;
    font-size: 20px;
    font-family: Kanit;
}

.projects1{
    color: #7e7e7e;
    font-size: 19px;
    font-weight: 400;
    font-family: serif;
}

.power1{
    font-size: 18px;
    color: #7e7e7e;
    
}


.try{
    color: #7e7e7e;
    font-size: 17px;
    font-weight: bold;
}

.start1{
    height: 50px;
    width: 180px;
    color: #5945e6;
    background-color: #ffffff;
    padding: 4px;
    border-radius: 5px 5px;
    border: 1px solid #5945e6;
    font-size: 16px;
    font-family : Kanit;
    font-weight: 550;
}

.start1:hover{
    color: #fff;
    background-color: #5945e6;
    
}







.box2{
    height: 480px;
    width: 200px;
    background-color: #9477f0;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #dce6ed;
    border-radius: 12px 12px;
    margin-right: 10px;

   
    
}

.box2:hover{
    
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}



.box2 .img2{
  
    margin-left: 130px;
  
}

.personal{
    color: #dbd8fa ;
    font-size: 35px ;
    line-height: 1.5 ;
    margin-bottom: 19px;
    text-align: center ;
    font-family: sans-serif;
}

.currency2{
    font-size: 18px;
    margin-bottom: -30px;
    margin-right: 50px;
    color: #dbd8fa;
    font-weight: 600;
    margin-right: 60px;
    

}

.dollar2 {
    color: #dbd8fa;
    font-size: 45px;
    font-family: serif;
    margin-left: 12px;
}

.dollar2 span{
    color: #dbd8fa;
    font-size: 20px;
    font-family: Kanit;
}

.projects2{
    color: #dbd8fa;
    font-size: 19px;
    font-weight: 400;
    font-family: serif;
}

.power2{
    font-size: 18px;
    color:#dbd8fa;
    
}


.hours1{
    color: #dbd8fa;
    font-size: 17px;
    font-weight: bold;
}

.start2{
    height: 50px;
    width: 180px;
    color: #5945e6;
    background-color: #ffffff;
    padding: 4px;
    border-radius: 5px 5px;
    border: 1px solid #5945e6;
    font-size: 16px;
    font-family : Kanit;
    font-weight: 550;
    margin-top: 45px;
}










.box3{
    height: 480px;
    width: 200px;
    background-color: #ffffff;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #dce6ed;
    border-radius: 12px 12px;
    margin-right: 7px;
    
  
    
}

.box3:hover{
   
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}


.box3 .img3{
  
    margin-left: 130px;
  
}

.group{
    color: #333333 ;
    font-size: 35px ;
    line-height: 1.5 ;
    margin-bottom: 19px;
    text-align: center ;
    font-family: sans-serif;
}

.currency3{
    font-size: 18px;
    margin-bottom: -30px;
    margin-right: 50px;
    color: #ababab;
    font-weight: 600;
    

}

.dollar3{
    color: #333;
    font-size: 45px;
    font-family: serif;
    margin-left: 18px;
}

.dollar3 span{
    color: #7e7e7e;
    font-size: 20px;
    font-family: Kanit;
}

.projects3{
    color: #7e7e7e;
    font-size: 19px;
    font-weight: 400;
    font-family: serif;
}

.power3{
    font-size: 18px;
    color: #7e7e7e;
    
}


.hours2{
    color: #7e7e7e;
    font-size: 17px;
    font-weight: bold;
}

.start3{
    height: 50px;
    width: 180px;
    color: #5945e6;
    background-color: #ffffff;
    padding: 4px;
    border-radius: 5px 5px;
    border: 1px solid #5945e6;
    font-size: 16px;
    font-family : Kanit;
    font-weight: 550;
}

.start3:hover{
    color: #fff;
    background-color: #5945e6;
    
}





.box4{
    height: 480px;
    width: 200px;
    background-color: #ffffff;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #dce6ed;
    border-radius: 12px 12px;
    margin-right: -22px;
    margin-left: 4px;
    
}

.box4:hover{
    
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);

}


.box4 .img4{
    margin-left: 130px;
  
}

.enterprise{
    color: #333333 ;
    font-size: 35px ;
    line-height: 1.5 ;
    margin-bottom: 19px;
    text-align: center ;
    font-family: sans-serif;

}

.currency4{
    font-size: 18px;
    margin-bottom: -30px;
    margin-right: 50px;
    color: #ababab;
    font-weight: 600;

}

.dollar4 {
    color: #333;
    font-size: 45px;
    font-family: serif;
    margin-left: 18px;
    
}

.dollar4 span{
    color: #7e7e7e;
    font-size: 20px;
    font-family: Kanit;

}

.projects4{
    color: #7e7e7e;
    font-size: 19px;
    font-weight: 400;
    font-family: serif;

}

.power4{
    font-size: 18px;
    color: #7e7e7e;
    
}


.hours3{
    color: #7e7e7e;
    font-size: 17px;
    font-weight: bold;

}

.start4{
    height: 50px;
    width: 180px;
    color: #5945e6;
    background-color: #ffffff;
    padding: 4px;
    border-radius: 5px 5px;
    border: 1px solid #5945e6;
    font-size: 16px;
    font-family : Kanit;
    font-weight: 550;

}

.start4:hover{
    color: #fff;
    background-color: #5945e6;
    
}



.download{
    background-color: #a880f4;
    height: 400px;
    width: 99%;
    margin-top: 20px;

}

.app{
    font-family: sans-serif;
    margin-top: 40px;
    letter-spacing: 1px;
    line-height: 1.23;
    
}

.app-head{
    font-size: 30px;
    color: #fff;
    font-weight: 600;

}

.app-head2{
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    
}

.try-app{
    width: 250px;
    height: 55px;
    color: #fff;
    background-color: #38cb89;
    border-radius: 5px 5px;
    font-size: 17px;
    font-weight: 300;

}


.bxs-download{
    font-size: 22px;
    margin-right: 7px;
      
}

.down-image{
    width: 800px;
  

}






.faqs{
    text-align: center;
    padding: 4px;
    margin-top: 190px;
}


.faq-head{
    font-size:48px;
    font-weight: 400;
    color: #2e3280;
   
}


.faq-para{
    color: #8b8b8c;
    font-size:17px;
    font-family: sans-serif;
    font-weight: 500;
}



.accordion{
    background-color: #f8f8fd;
}

.collapse{
    visibility: inherit !important;
  }

.ac-1 {
    color:  #5945e6;
    font-weight: 600;
    background-color:  #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px 5px;
    border: 2px solid #fff;

}

.ab-1{
    color:  #8d8d8d;
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
}


.ac-2 {
    color:  #5945e6;
    font-weight: 600;
    background-color:  #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px 5px;
    border: 2px solid #fff;

}

.ab-2{
    color:  #8d8d8d;
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
}



.ac-3 {
    color:  #5945e6;
    font-weight: 600;
    background-color:  #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px 5px;
    border: 2px solid #fff;

}

.ab-3{
    color:  #8d8d8d;
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
}


.ac-4{
    color:  #5945e6;
    font-weight: 600;
    background-color:  #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px 5px;
    border: 2px solid #fff;

}

.ab-4{
    color:  #8d8d8d;
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
}


.ac-5{
    color:  #5945e6;
    font-weight: 600;
    background-color:  #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px 5px;
    border: 2px solid #fff;

}

.ab-5{
    color:  #8d8d8d;
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
}


.ac-6{
    color:  #5945e6;
    font-weight: 600;
    background-color:  #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px 5px;
    border: 2px solid #fff;

}

.ab-6{
    color:  #8d8d8d;
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
}

.ac-7{
    color:  #5945e6;
    font-weight: 600;
    background-color:  #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px 5px;
    border: 2px solid #fff;

}

.ab-7{
    color:  #8d8d8d;
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
}

.ac-8{
    color:  #5945e6;
    font-weight: 600;
    background-color:  #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px 5px;
    border: 2px solid #fff;
}

.ab-8{
    color:  #8d8d8d;
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
}





.further-QA{ 

  color: #6d70a6;
  text-align: center;
  font-size: 24px;
  line-height: 1.17;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 50px;
     
}

.further-QA-btn{

  font-size: 23px;
  color: #38cb89;
  line-height: 1.0;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 12px;

}

.further-QA-btn:hover{
    text-decoration: underline;
}



.bef-foot{
    background-color: #7569eb;
    height: 580px;
    width: 98%;
    text-align: center;
    padding: 8px;
    box-shadow: 500 20px 50px rgba(175, 170, 240, 0.2);
}

.bef-head{
    color: #ffffff;
    font-size: 2.5rem;
    font-family: sans-serif;
    text-align: center;
    margin-top: 190px;
  
}





.name input{
    background-color: #7465dc;
    width: 250px;
    height: 60px;
    color: white;
    padding: 10px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 25px;
    padding-left: 19px;
    border-radius: 10px 10px;
}


.email input{
    background-color: #7465dc;
    width: 250px;
    height: 60px;
    color: white;
    padding: 10px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: -35px;
    padding-left: 19px;
    border-radius: 10px 10px;
}

.sub{
    background-color: #ffffff;
    width: 120px;
    height: 60px;
    color: #7465dc;
    padding: 8px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 20px;
    border-radius: 7px 7px;
    text-align: center;

}




.whats-next2{
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    line-height: 1.17;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 100px;
}
.whats-next2 .btn2{
    font-size: 23px;
    color: #38cb89;
    line-height: 1.0;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 12px;
}


.whats-next2 .btn2:hover{
    text-decoration: underline;
}


.intra-link {
    color:  #3ccc8b;
    font-weight: bold;
    font-size: 2.3vh;
    margin-right: 20px;

}

.intra-link:hover{
    color: #2e3280;
    text-decoration: underline;
}




.sticky-button {
    background-color: #776bec;
    border-radius: 420px 420px;
    height: 78px;
    width: 78px;   
    position: fixed;
    padding: 3px;  
    bottom: 20px; 
    right: 30px;
    box-shadow: 0 2px 5px rgba(85, 127, 200, 0.2); 
  }

.sticky-button .bx-up-arrow-alt{
    text-align: center;
    font-size: 40px;
    padding: 15px;
    color: #ffffff;
    font-weight: bold;
}  


.sticky-button:hover{
    box-shadow: 0 2px 5px rgba(187, 19, 89, 0.2); 
    cursor: pointer;
    
}


@media only screen and (max-width: 600px) {
    .card1, .card2, .card3 {
      width: 100%; 
      margin-left: 0; 
      box-shadow: none;
    }
}



  
  /* @media only screen and (max-width: 600px) {
    .name input, .email input {
      width: 100%; 
      margin-left: 0; 
      margin-bottom: 10px; 
    }
  
    .sub {
      width: auto; 
      margin-top: 10px;
    }
  }
   */



/* Adjust the navbar and logo image for smaller screens */



/* @media only screen and (max-width: 600px) {
    header {
      margin-top: 0; 
    }
  
    nav a {
      font-size: 14px;
      padding: 4px; 
    }
  
    .nav-btn {
      height: 50px;
      width: 100px;
      font-size: 16px;
    }

  }

  
  @media only screen and (max-width: 600px) {
    .grid-container {
    
      text-align: center;
    }
  
    .grid-head {
      font-size: 24px; 
    }
  
    .grid-para {
      font-size: 16px;
    }
  
    .grid-btn {
      width: 100%;
      margin-top: 20px;
    }
  }

  
  

}



